<!DOCTYPE html>
<html>
  <head>
    <title>Trell.at</title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/styles/css/bootstrap.css">
    <link rel="stylesheet" href="/styles/css/main.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
    <script src="/js/dependencies/jquery-1.11.3.min.js"></script>
    <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="author" content="Vicent Girbés <vgirbes@gmail.com>">
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="url, shortener, group, grouped, list, url shortener, url list">
    <style type="text/css">
        html, body {
            width:100%;
            height:100%;
        }
    </style>
  </head>
  <body>
    <iframe id="list" src="<%= list[1] %>" frameborder="0" height="100%" width="100%"></iframe>
    <section id="navigation">
        <div id="back-position">
            <button class="navigate add-button" id="back" data-page="0" style="display:none;">Back</button>
        </div>
        <div id="next-position">
            <button class="navigate add-button" id="next" data-page="2">Next</button>
        </div>
        <div id="link-position">
            <a id="link" style="color:#000" href="<%= list[1] %>" target="_blank"><%= list[1] %></a>
        </div>
    </section>
    <script type="text/javascript">
        $(document).ready(function() {
            var list = [];
            <%for (var i in list){%>
                list[<%= i %>] = "<%= list[i] %>";
            <%}%>
            $('.navigate').click(function() {
                var page = parseInt($(this).attr('data-page'));
                if (typeof list[page] != 'undefined' && page > 0) {
                    var next = page + 1;
                    var back = page - 1;
                    $('#list').attr('src', list[page]);
                    $('#back').attr('data-page', back);
                    $('#next').attr('data-page', next);
                    setButtons(list, next, back);
                }
            });
        });

        function setButtons(list, next, back) {
            if (typeof list[next] === 'undefined') {
                $('#next').hide();
            } else {
                $('#next').show();
            }

            if (typeof list[back] === 'undefined' || back == 0) {
                $('#back').hide();
            } else {
                $('#back').show();
            }
        }
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-71957163-1', 'auto');
      ga('send', 'pageview');

    </script>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/npm.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>